<div th:fragment="content">
    <h2 class="h5 mb-3">Médico</h2>
    <form th:action="@{/app/admin/medicos}" method="post" class="vstack gap-3">
        <div>
            <label class="form-label">Nome</label>
            <input class="form-control" name="nome" required>
        </div>
        <div>
            <label class="form-label">CRM</label>
            <div class="row g-2">
                <div class="col-md-8"><input class="form-control" name="crmNumero" placeholder="12345" required></div>
                <div class="col-md-4"><input class="form-control" name="crmUf" placeholder="PR" required></div>
            </div>
        </div>
        <div>
            <label class="form-label">Especialidade</label>
            <select class="form-select" name="especialidade">
                <option>Clínica Médica</option>
                <option>Cardiologia</option>
            </select>
        </div>
        <div class="d-flex gap-2 mt-3">
            <button class="btn btn-primary" type="submit">Salvar</button>
            <a class="btn btn-outline-secondary" th:href="@{/app/admin/medicos}">Cancelar</a>
        </div>
    </form>
</div>
